*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.env

.gradle/
build/
.idea/
*.ipr
*.iws
.secrets/

# Android
.cxx/
.externalNativeBuild/
captures/
instant-run/
org.bytebloom.org.bytebloom.app.app/build/
org.bytebloom.org.bytebloom.app.app/.cxx/
org.bytebloom.org.bytebloom.app.app/.externalNativeBuild/

# IntelliJ IDEA specific
.project/

# JVM
*.class
*.war
*.ear
*.zip
*.tar
*.gz
hs_err_pid*

# Docker
*.log
!docker-compose.yml